/* 重設樣式，確保瀏覽器默認樣式一致 */
body, p, ul, li, dl, dt, dd, blockquote, fieldset, form, input, textarea, table, caption, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
  }
  
  /* 全局樣式 */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #B9B9FF; /* 設定為淺紫色背景 */
    text-align: center; /* 將所有文字水平置中 */
    padding: 20px; /* 保證頁面內容有適當的邊距 */
  }
  
  /* 表格樣式 */
  table {
    border-collapse: collapse;
    margin: 0 auto; /* 將容器水平居中 */
    width: 70%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* 表格排序按鈕樣式 */
  .sort-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  
  /* 標籤樣式 */
  label {
    margin-bottom: 5px;
  }
  
  /* 分頁樣式 */
  #pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  /* 圖表樣式 */
  #expense-chart {
    width: 70%; /* 確保圖表能夠適應父容器 */
    ; /* 可以根據需要調整高度 */
  }
  
  /* 響應式設計示例 */
  @media (max-width: 768px) {
    /* 手機螢幕樣式 */
    aside, section {
      width: 100%;
    }
  
    .container {
      padding: 10px; /* 在小屏幕上適當減少內邊距 */
    }
  }
  
