/* 重設樣式，確保瀏覽器默認樣式一致 */
body, p, ul, li, dl, dt, dd, blockquote, fieldset, form, input, textarea, table, caption, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
  }
  
  /* 全局樣式 */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f0f0f0; /* 設定為淺灰色背景 */
    text-align: center; /* 將所有文字水平置中 */
  }
  
  /* 表格樣式 */
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* 表格排序按鈕樣式 */
  .sort-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  

  
  label {
    margin-bottom: 5px;
  }
  
  /* 分頁樣式 */
  #pagination {
    display: flex;
    justify-content: center;
  }
  
  /* 圖表樣式 */
  #expense-chart {
    /* Chart.js 的樣式會覆蓋此樣式 */
  }
  
  /* 響應式設計示例 */
  @media (max-width: 768px) {
    /* 手機螢幕樣式 */
    aside, section {
      width: 100%;
    }
  }
